{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
    <h1>Пожалуйста, авторизируйтесь</h1>
{% else %}
    <table class=" table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                <th scope="col">Пасп.данные</th>
                <th scope="col">Услуга</th>
            </tr>
        </thead>
        <tbody>
            {% for elem in data %}
                <tr>
                    <td>{{elem.name}}</td>
                    <td>{{elem.surname}}</td>
                    <td>{{elem.patronymic}}</td>
                    <td>{{elem.passport}}</td>
                    <td>{{elem.usluga}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}